.about {
    height: 95vh;
    margin-top: -55vh;
    background-color: $color-primary;
    color: $color-white;
    padding: 1rem;
}

// .container {
//     width: 100rem;
//     margin: 3px auto;
//     display: grid;
//     grid-template-rows: 25rem;
//     grid-template-columns: 1fr  25rem;
//     grid-gap: 1rem;
//     border-radius: 20px;
// }

// .item {
//     padding: 3px;
//     font-size: 3rem;
//     font-family: sans-serif;
//     color: white;
//     // border-radius: 20px;
    
//     &--1 {
//       border-radius: 20px;
      
//       &:hover {
//         // background-color:  rgba($color-primary, 0.2);
//         // color: $color-grey;
//       }
//     }
//      &--2 {
//       background-color: rgba($color-primary, 0.2);;
     
//       display: relative;
//       text-align: center;
//       border-radius: 20px;
//       &:hover {
//         // background-color: #FF9B9B;;
//       }
//     }

//   }

  .me {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 20rem;
    height: 20rem;
    border-radius: 100px;
    border: solid white 3px;
    &:hover {
        animation-name: shake;
        animation-duration: .5s;
        animation-timing-function: ease-out;
    }
  }

  .bio {
    font-size: 2rem;
  }

  .bio-2 {
    margin-top: 2rem;
  }