.projects {
    height: 200vh;
    padding-top: 5vh;
    background-color: $color-primary;
    background-size: cover;
    background-position: top;
    position: relative;
    background-size: cover;
    
    // clip-path: polygon(0 20vh, 100% 0, 100% 100%, 0 100%);
}


.project-description {
    font-size: 2rem;
}

.user-stories {
    list-style: none;
}

.project-container {
    margin-top: 3px;
    width: 100rem;
    margin: 3px auto;
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
    grid-template-rows: 25rem;
    grid-template-columns: 1fr ;
    grid-gap: 1rem;
    border-radius: 20px;
}

.project-item {
    flex-direction: row;
    padding: 10px;
    font-size: 3rem;
    font-family: sans-serif;
    color: $color-grey;
	  text-align: justify;
	  text-align-last: left;
    margin: 2rem;
    background-color: $color-secondary;
   
    
    &--1 {
     
      height: 40vh;
      border-radius: 20px;
      
      
      &:hover {
        animation-name: shake;
        animation-duration: .5s;
        animation-timing-function: ease-out;
    
      }
    }
    &--2 {
        height: 40vh;
        border-radius: 20px;
        
        &:hover {
          animation-name: shake;
          animation-duration: .5s;
          animation-timing-function: ease-out;
        }
      }
    &--3 {
        margin-top: 2rem;
        height: 40vh;
        border-radius: 20px;
        
        &:hover {
          animation-name: shake;
          animation-duration: .5s;
          animation-timing-function: ease-out;
    
        }
      }
     

  }
